@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Mono:100&display=swap');
:root {
	--white: #F7F7F7;
	--error: #A71D31;
	--background: #2E3138;
	--light: #00A7E1;
	--dark: #0C0F0A;
	--good: #9BE564;
	--lobbying: #822E81;

	--yoga1:#948ff2;
	--yoga2:#ef6c6c;
	--yoga3:#f49314;
	--yoga4:#f4d240;
	--yoga5:#80e87e;
	--yoga6:#79caf7;
	--yoga7:#ef7bef;
}



* { margin: 0; padding: 0; outline: 0; }
body{
	background-color: var(--background);
	color: var(--white);
	font-family: 'Open Sans', sans-serif;
	font-size:1.25em;

	overflow-x: hidden;
	overflow-y: scroll;
	max-width: 100%;
	margin-bottom: 200px;
}
h1,h2,h3{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}
a{
	text-decoration: none;
	background-color:var(--dark);
	border-color: var(--error);
	color: var(--white);
	border-style: solid;
	border-width: 3px;
	border-radius: 12px;
	width:279px;
	display: inline-block;
	text-align: center;
	padding: 5px;
	text-shadow: 0 0 5px rgba(255,255,255,0.5);
	transition:all 0.3s;
	vertical-align: middle;
	flex:100%;
}
#story4{
	border-color: var(--light);
	box-shadow: 0 0 20px inset var(--light);
}

a:hover{
	background-color: var(--white);
	color: var(--dark);
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#story1, #story2, #story3, #story4, #story20, #story25, #u1x, #u1Alg, #u2Alg, #auto1, #lobbyreveal, #sacrifice, #parentsAutobuyer{
	position: relative;
	opacity: 0;
	z-index: -1;
}
#story1, #story2, #story3, #story4, #story20, #story25{

	transition: all 0.25s,opacity 1s;
}
#story3, #story4, #parentsAutobuyer{
	width:279px;
}

#auto1{
	width: 260px;
}
#mainContainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#bigLobbyingContainer{
	width:100%;
	height:100%;
	top:-200%;
	z-index: 10;
	position: fixed;
	background-color: rgba(46,49,56,0.9);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	transition: all 1s;
	text-align: center;
    overflow-y:scroll;
}
#LobbyingContainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}
#mathLobbying, #childrenLobbying{
	padding-top:50px;
	padding-bottom: 50px;
	width:600px;
}
#parentsLobbying{
	padding-top:50px;
	padding-bottom: 50px;
	width:279px;

}
#mathLobbying a, #childrenLobbying a,#parentsLobbying a{
	width:100%;
}
#lobm2{
	margin-top:-100%;
	transition: all 0.3s;
}


#lobbyclose{
	border-color: var(--good);
	box-shadow: none;
}
#childstory{
	position: absolute;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 600px;
	z-index: 2;
}
#childstory p, #childstory a{

	opacity: 0;

	transition: all 0.3s;
}

#ParentsContainer,#mathematicacontainer,#childrenContainer{
	align-items: center;
	align-content: center;
	text-align: center;
	padding-top:50px;
	width: 600px;
}

#ParentsContainer{
	width:279px;
}

#childrenContainer h1{
	opacity: 0;
}

table a{
	font-size: 1.25em;
}
#childrendisplay{
	position: fixed;
	bottom:0;
	width:100%;
	background-color: var(--white);
	height:100px;
	overflow-y: hidden;
	z-index: 1;
}
#childrendisplay img{
	position: absolute;
	left:-100%;
}
#child1glow,#child2glow,#child3glow,#child4glow{
	position: fixed;
	left: -100%;
	border-radius: 100px;
	height:100px;
	width:100px;
	bottom: 0;
	z-index: -1!important;

}
#childupgradecircle{
	position: fixed;
	left:-100%;
	bottom:50px;
	height:1px;
	width:1px;
	border-radius: 100000px;
	border-width:100px;
	border-style: solid;
	border-color:var(--background);
	z-index: -1!important;
}

table{
	height:400px;
	text-align: center;
	table-layout: fixed;
	width: 100%;

}
th,td,tr{
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
	border-color: rgba(255,255,255,0.2);
	border-radius: 10px;
}

td a{
	width:94.5%;
	line-height: 30px;

}
#child1name{
	width:125px;
}
#child1IQ{
	width:75px;
}
#child1up{
	width:225px;
	padding: 0;
}
#child1year{
	width:75px;
}
#child1,#child2,#child3,#child4,#tabletotals{
	position: relative;
	opacity: 0;
	z-index: -1;
	transition: all 1s;
}
span{
	padding:10px;
}
#parentsAutobuyer{
	transition: all 0s;
}