@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Muli&display=swap');
:root {
	--white: #E6EEEE;
	--error: #A71D31;
	--background: #000;
	--light: #00A7E1;
	--dark: #0C0F0A;
	--good: #9BE564;
	--lobbying: #822E81;

	--yoga1:#948ff2;
	--yoga2:#ef6c6c;
	--yoga3:#f49314;
	--yoga4:#f4d240;
	--yoga5:#80e87e;
	--yoga6:#79caf7;
	--yoga7:#ef7bef;

}



* { margin: 0; padding: 0; outline: 0; }
body{
	background-color: var(--background);
	color: var(--white);
	font-family: 'Open Sans', sans-serif;
	font-size:1.25em;

	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
	/*text-shadow: 2px 2px 4px rgba(23,24,28,0.5)*/;
	padding-bottom: 200px;
	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
  scroll-behavior: smooth;
}
h1,h2,h3{
	font-family: 'Muli', sans-serif;
	text-align: center;
}
a{
	text-decoration: none;
	background-color:var(--light);
	border-color: var(--error);
	color: var(--background);
	border-style: solid;
	border-width: 3px;
	border-radius: 12px;
	width:279px;
	display: inline-block;
	text-align: center;
	padding: 5px;
	margin:15px;
	border-radius: 8px;
	border-style: solid;
	border-width:2px;
	border-color: rgba(92,98,112,0.2);
	/*text-shadow: 0 0 5px rgba(0,0,0,0.5);*/
	transition:all 0.3s,box-shadow 0.05s;
	vertical-align: middle;
	flex:100%;
	/*box-shadow: inset 0 0 0px white,inset 0 0 0px rgba(23,24,28,0.5),-6px -6px 16px rgba(92,98,112,0.4),
	 6px 6px 16px rgba(23,24,28,0.7), inset 0px 0px 16px rgba(92,98,112,0.5);*/

}
a:active{
	background-color: rgba(180,180,180,1);

	/*box-shadow: inset -6px -6px 16px rgba(255,255,255,1),
	inset 6px 6px 16px rgba(23,24,28,0.5),0 0 0px rgba(92,98,112,0.4), 0 0 0px rgba(23,24,28,0.7),inset 0px 0px 16px rgba(92,98,112,0.5);
*/
}
#story4{
	border-color: var(--light);
}

a:hover{
	background-color: rgba(180,180,180,1);
	color: var(--dark);
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#story1, #story2, #story3, #story4, #story20, #story25, #u1x, #u1Alg, #u2Alg, #auto1, #lobbyreveal, #sacrifice, #parentsAutobuyer{
	opacity: 0;
	z-index: -1;
}
#story1, #story2, #story3, #story4, #story20, #story25{

	transition: all 0.25s,opacity 1s;
}
#parentsAutobuyer{
	width:279px;
}

#auto1{
	width: 260px;
}
#mainContainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width:100%;
	margin-left:0px;
	margin-right:120%;
	transition: all 1s;
}
#bigLobbyingContainer{
	width:100%;
	height:100%;
	left:120%;
	top:0;
	position: fixed;
	transition: all 1s;
	text-align: center;
    overflow-y:scroll;
}
#LobbyingContainer{
	display: flex;
	align-items:stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

#mathLobbying, #childrenLobbying,#parentsLobbying{

	padding-top:0;
	width:450px;
	margin:25px;
	padding:50px;

	border-radius: 16px;
	border-style: solid;
	border-width:2px;
	border-color: var(--white)/
	/*box-shadow: -6px -6px 16px rgba(92,98,112,0.35),
	 6px 6px 16px rgba(23,24,28,0.7);
	 */
}
#mathLobbying a, #childrenLobbying a,#parentsLobbying a{

	width:auto;


}
#lobm2d{
	position: relative;
	margin-top:-200%;
	margin-bottom: 175%;
	transition: all 0.3s;
}
#mps{
	align-self: right;
}

#lobbyclose{
	border-color: var(--good);
	background-color: var(--good);
}
#childstory{
	position: relative;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 100%;
	z-index: 2;
}
#childstory p, #childstory a{

	opacity: 0;

	transition: all 0.3s;
}
#ParentsContainer,#MathematicaContainer,#childrenContainer{
	align-items: center;
	align-content: center;
	text-align: center;
	width: 550px;
	margin:50px;
	border-radius: 16px;
	border-style: solid;
	border-width:2px;
	border-color: var(--white)/*rgba(92,98,112,0.2)*/;
	/*box-shadow: -6px -6px 16px rgba(92,98,112,0.35),
	 6px 6px 16px rgba(23,24,28,0.7);
	 */
}
#ParentsAndDisplayContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

}
#ParentsContainer{
	width:230px;
	height:230px;
	border-radius: 100%;
	align-self: center;
	padding:25px;
	margin:0;

}
#story4{
	position: relative;
	border-radius: 100%;
	padding: 50px 0px 50px 0px; 
	width:100px;
	text-align: center;
	line-height: 0px;
}

#story3{
	position: absolute;
	width: 230px;
}

#schoolingheading,#iqPoints{
	opacity: 0;
}
#childrenContainer a{

	

}

table a{
	font-size: 1.25em;
}
#childrendisplay{
	margin-top: 50px;
	bottom:50px;
	background-color: rgba(180,180,180,1);
	height:100px;
	overflow:hidden;
	width: 100%;
	z-index: 1;
	border-radius: 16px;
	border-style: solid;
	border-width:2px;
	border-color: rgba(92,98,112,0.2);
	box-shadow: inset -6px -6px 16px rgba(255,255,255,1),
	inset 6px 6px 16px rgba(23,24,28,0.9);
}
#childrendisplay img{
	position: relative;
	left:-100%;
}
#child1glow,#child2glow,#child3glow,#child4glow{
	height:100px;
	width:100px;
	position: relative;
	left: -100%;
	top:-5px;
	margin: 0!important;
	border-radius: 100px;
	z-index: -1;
	transition:all 5s ease-in-out;

}
#childupgradecircle{
	position: absolute;
	left:-100%;
	bottom:50px;
	height:1px;
	width:1px;
	border-radius: 100000px;
	border-width:100px;
	border-style: solid;
	border-color:var(--background);
	z-index: -1!important;
}

#childtable{
	display:flex;
	flex:1;
	min-height: 0;
	text-align: center;
	table-layout: fixed;
	width: 100%;
	align-items:stretch;
	justify-content: space-around;
	flex-wrap: wrap;

}
#child1 div,#child2 div,#child3 div,#child4 div{
}

#childtable div a{


}
#child1rep, #child2rep, #child3rep, #child4rep{
	transition:all 5s ease-in-out;
}
#child1year,#child2year,#child3year,#child4year{
	width:100px;
}
#child1name,#child2name,#child3name,#child4name{
	width:80px;
}
#child1,#child2,#child3,#child4,#tabletotals{
	display: flex;
	width:100%;
	opacity: 0;
	z-index: -1;
	transition: all 1s;
	align-items:center;
	justify-content: space-around;
	flex-wrap: wrap;

	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: rgba(255,255,255,0.2);
	border-radius: 10px;
}
#child1buy,#child2buy,#child3buy,#child4buy{
	box-shadow:inset 0px 0px 0px 0px var(--background)

}
span{
}
#parentsAutobuyer{
	transition: all 0s;
}